/* Style h1 */

h1 {
    font-size: 60px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* style body text */

body {
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* style li buttons */

li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

/* style nav bar */

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}

/* style pokemon list */
#pokemon-list li {
    display: inline-block;
    width: 33%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
